/* MSU Maroon -> #5d1725
   MSU Dark maroon from website -> #320c14
   MSU Dark Grey -> #777777
   MSU Light Grey -> #C1C6C8 
   */


/* variables */

:root{
    --clr-primary-1: rgb(93, 23, 37);
    --clr-primary-2: hsl(347, 61%, 12%);
    --clr-grey-1: rgb(117, 120, 123);
    --clr-grey-2: rgb(193, 198, 200);
    --clr-white: hsl(0, 0%, 100%);
}


nav, header {
    background: var(--clr-primary-2);
    background: linear-gradient(90deg, var(--clr-primary-2) 0%, var(--clr-primary-1) 30%, var(--clr-primary-1) 70%, var(--clr-primary-2) 100%);
}

.home-bg {
    position: absolute;
    z-index: -1;
    background-image: url('../images/Sanderson_exterior.jpg'); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}


/* Basic usage classes */

.maroon-bg{
    background-color: var(--clr-primary-1);
    padding: 5px;
    color: white;
}

.sub-maroon-bg{
    background-color: rgb(94, 23, 38);
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.text-bg-maroon-light{
    background-color: rgba(94, 23, 38, 0.2);
}

.simple-submit-btn{
    border: 1px solid black;
    border-radius: 10px;
    background-color: transparent;
    padding: 2px 8px 2px 8px;
    
}

.basic-nav-btn{
    background-color: var(--clr-primary-1);
    border: none;
    border-radius: 10px;
    padding: .75rem;
    color: white;
    font-size: large;
}

.basic-nav-btn:hover{
    background-color: var(--clr-primary-2);
    transition: all .5s;
}

.simple-submit-btn:hover{
    background-color: rgba(94, 23, 38, 0.3);
    transition: all .8s;
}

.bg-tb-view{
    background: var(--clr-grey-1);
    /* background: linear-gradient(90deg, var(--clr-primary-2) 0%, var(--clr-primary-1) 30%, var(--clr-primary-1) 70%, var(--clr-primary-2) 100%); */
}

.f-md{
    font-size: medium;
}
.f-lg{
    font-size: large;
}
.f-larger{
    font-size: 100px;
}


/* start of nav bar for mobile/smaller devices on base.html */

.urec-logo{
    display: flex;
    max-width: 70%;
    height: auto;
    cursor: pointer;
}


.nav-toggle{
    font-size: 1.75rem;
    margin: 15px 0 5px 0;
    color: var(--clr-white);
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    z-index: 99;
}


.nav-toggle i:hover{
    color: var(--clr-grey-1);
}


/* .action-toggle{
    display: none;
} */

.nav-items-toggle{
    display: block;
    position: fixed;
    /* width: 100vw; */
    height: 100vh;
    bottom: 100%;
    left: 0;
    right: 0;
    background: rgba( 0, 0, 0, .9);
    z-index: 98;
}

.nav-items-toggle ul {
    margin-top: 4rem;
}

.nav-items-toggle ul.dropdown-menu {
    margin-top: 0;
}

.nav-items-toggle ul li a.maroon-button{
    font-size: xx-large;
    margin: 5px;
    color: var(--clr-white);
}

.nav-items-toggle ul li a.maroon-button:hover{
    color: rgba(255, 255, 255, .6);
}

.nav-items-toggle ul li a.maroon-button:focus{
    color: rgba(255, 255, 255, .6);
}

.nav-items-toggle-show{
    bottom: 0;
    transition: .8s;
}

.ua-hidden-items{
    display: none;
}

.nav-user-toggle{
    display: block;
}


.dropdown-menu{
    background: none;
    border: none;
    display: none;
    max-width: 100vw;
    margin-top: 0;
    margin-left: .75rem;
    animation: .8s slidedown;
}
    @keyframes slidedown {
        from{
            transform: translateY(-30%);
            
        }
        to{

            transform: translateY(0%);

        }
    }


.dropdown-item{
    color: var(--clr-white);
    font-size: larger;
    background-color: rgba( 120, 120, 120, .6);
    border-radius: 20px;
    margin: 5px 0 5px 0;
    max-width: fit-content;
}

.dropdown-item:hover{
    color: var(--clr-white);
    background-color: rgba( 0, 0, 0, .6);
    border-radius: 5px;
    overflow: hidden;
    max-width: fit-content;
}

/* start of nav bar on larger screen */
/* the max screen width for classes above are 767px, if more than 767px,  
classes below @media function will be used instead of above*/
@media screen and (min-width: 768px) {
    .nav-toggle{
        display: none;
    }

    .ua-hidden-items{
        display: grid;
    }
    @media screen and (min-width: 992px){
        .ua-hidden-items{
            display: flex;
        }
    }

   .action-toggle{
        display: flex;
   }

   .nav-items-toggle{
        display: flex;
        position: relative;
        /* width: 100vw; */
        height: 3rem;
        left: 0;
        right: 0;
        background: linear-gradient(90deg, var(--clr-primary-2) 0%, var(--clr-primary-1) 30%, var(--clr-primary-1) 70%, var(--clr-primary-2) 100%);
   }

   .nav-items-toggle ul {
        margin-top: 0;
    }

    .nav-items-toggle ul.dropdown-menu {
        margin-top: -.2rem;
    }

    .nav-items-toggle ul li a{
        margin: 0;
        color: var(--clr-white);
    }

   .nav-user-toggle{
        display: none;
    }

    .urec-logo{
        display: flex;
        max-width: 40%;
        height: auto;
        margin: 2px 300px 2px 2px;
        cursor: pointer;
    }


    .maroon-line{
        background-color: var(--clr-primary-2);
        width: auto;
        height: 3px;
    
    }
    
    .maroon-button{
        /* backface-visibility: hidden; */
        /* border-radius: 10px; */
        /* border-style: solid;
        border-width: 2px; */
        /* box-sizing: border-box;
        border-color: #320c14;
        border-radius: 10px; */
        color: var(--clr-white);
        cursor: pointer;
        display: inline-block;
        position: relative;
        text-align: left;
        text-decoration: none;
        transform: translateZ(0) scale(1);
        transition: transform .2s;
      }

      .nav-items-toggle ul li a.maroon-button{
        font-size: medium;
        color: var(--clr-white);
    }
    
      .dropdown:hover .dropdown-menu{
        display: block;
      }
    
      .dropdown-menu{
        background:var(--clr-primary-2);
        display: none;
        transform: translateX(-30%);
        margin-left: .75rem;
        animation: .4s slidein;
      }
      @keyframes slidein {
        from{
            transform: translateX(-0%);
        }
        to{
            transform: translateX(-30%);
        }
      }
    
      .dropdown-menu li{
        margin: 10px;
      }
    
      .dropdown-menu li a{
        color: var(--clr-white);
        padding: 8px;
      }
      
      .dropdown-item{
        color: var(--clr-white);
        font-size: medium;
        background-color: rgba(94, 23, 38, 0.4);
        border-radius: 10px;
        max-width: none;
    }
    
    .dropdown-item:hover{
        color: var(--clr-white);
        background-color: var(--clr-primary-1);
        border-radius: 10px;
        max-width: none;
    }
    
    /* if screen is less than 890px, dropdown menu slides left 
    to accomodate screen changes */
      @media screen and (max-width: 890px) {
        .dropdown-menu{
            background:var(--clr-primary-2);
            display: none;
            transform: translateX(-30%);
            animation: .2s slidein;
          }
          @keyframes slidein {
            from{
                transform: translateX(-0%);
            }
            to{
                transform: translateX(-30%);
            }
          }
      }

}






