<link  href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"id="bootstrap-css"/>

{% include 'urec_app/navbar.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Download ERP Page</title>
  </head>
  <body>
    <h1>Emergency Response Protocols</h1>
    <a href="{% url 'erp' %}"><button>ERP Home</button></a>

    <h3>Click Link Below to Navigate to ERP {{filename}}</h3>
    <a href="{{ erp_url }}" target="_blank"><button>{{ erp_url }}</button></a>
  </body>
</html>