{% extends './login_base.html' %}
{% load static %}

{% block title %}
    UREC Password Reset
{% endblock title%}

{% block content %}
<div class="container-fluid px-3 py-1">
  <body>
    <p>
      Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
    </p>
    <form action="" method="post">
      {% csrf_token %}
      {% if form.email.errors %}
        {{ form.email.errors }}
      {% endif %}
      <p>{{ form.email }}</p>
      <input
        type="submit"
        value="Send Reset Email"
      />
    </form>
  </body>
</div>

{% endblock content %}