{% extends './login_base.html' %}
{% load static %}

{% block content %}
{% if form.errors %}
<p>Something went wrong. Please double-check your input.</p>
{% endif %}
<div class="container-fluid py-3 min-vh-100 d-flex bg-tb-view">
  <br/>
  <div class="col mx-auto overflow-hidden">
      <div class="card card-glassmorph border-0 mb-3">
          <h2 class="card-header text-center maroon-bg">Change Password</h2>
          <div class="card-body p-5">
            <form method="post">
                {% csrf_token %}
                <p>
                    <label for="id_old_password">Old password:</label>
                    <input type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password">
                </p>
                <p>
                    <label for="id_new_password1">New password:</label>
                    <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
                    <span class="helptext"></span></p><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul>
                <p></p>
                <p>
                    <label for="id_new_password2">New password confirmation:</label>
                    <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                </p>

                <button type="submit">Submit Changes</button>
            </form>
              <br>
          </div>
      </div>
  </div>
</div>

{% endblock %}