{% extends './login_base.html' %}
{% load static %}

{% block content %}
{% if form.errors %}
<p>Something went wrong. Please double-check your input.</p>
{% endif %}
<div class="container-fluid py-3 min-vh-100 d-flex bg-tb-view">
  <br/>
  <div class="col mx-auto overflow-hidden">
      <div class="card card-glassmorph border-0 mb-3">
          <h2 class="card-header text-center maroon-bg">Passord Changed Successfully!</h2>
          <div class="card-body p-5">
            <h3 class="p-2 mb-3">Your password has been changed!</h3>
            
            <a class="basic-nav-btn text-decoration-none" href="{% url 'home'%}" class="maroon-button">Return Home</a>
          </div>
      </div>
  </div>
</div>

{% endblock %}