{% extends './login_base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-3 min-vh-100 d-flex bg-tb-view">
  <br/>
  <div class="col mx-auto overflow-hidden">
      <div class="card card-glassmorph border-0 mb-3">
          <h2 class="card-header text-center maroon-bg">Change Password</h2>
          <div class="card-body p-5">
            <form method="post">
                {% csrf_token %}
                <p>
                    <label for="id_old_password" class="basic-text-label">Old password:</label>
                    <input type="password" class="form-control" style="max-width: 400px;" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password">
                </p>
                <p>
                    <label for="id_new_password1" class="basic-text-label">New password:</label>
                    <input type="password" class="form-control" style="max-width: 400px;" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
                    <span class="helptext"></span></p>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p style="color: rgb(255, 0, 0); font-size: medium; font-weight: bold;"> {{error}} </p>
                        {% endfor %}
                    {% endfor %}
                        <ul>
                            <li>Your password <b>cannot</b> be too similar to your other personal information.</li>
                            <li>Your password <b>must</b> contain at least 8 characters.</li>
                            <li>Your password <b>cannot</b> be a commonly used password.</li>
                            <li>Your password <b>cannot</b> be entirely numeric.</li>
                        </ul>
                <p></p>
                <p>
                    <label for="id_new_password2" class="basic-text-label">New password confirmation:</label>
                    <input type="password" class="form-control" style="max-width: 400px;" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                </p>

                <button class="basic-nav-btn" type="submit">Submit Changes</button>
            </form>
              <br>
          </div>
      </div>
  </div>
</div>

{% endblock %}