<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

{% include 'urec_app/navbar.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accident Page</title>
</head>
<body>
    <h1>Accident Page</h1>
    <a href="{% url 'create_accident_ticket' %}"><button>Create New Accident Report</button></a>
    {% if user.is_staff %}
    <a href="{% url 'view_accident_tickets' %}"><button>View Accident Reports</button></a>
    {% endif %}
</body>