{% extends './base.html' %}
{% load static %}

{% block title %}
    Counts by Hour
{% endblock title%}

{% block content %}
    <!-- Date picking functionality -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <div class="container-fluid py-3 min-vh-100 d-flex bg-tb-view">
        <br/>
        <div class="col mx-auto overflow-hidden">
            <div class="card card-glassmorph border-0">
                <h2 class="card-header text-center maroon-bg">View Hourly Count</h2>
                <div class="card-body p-5">

                    <h3>Hourly Counts</h3>

                    <p>Date shown:</p>

                    <div class="row">
                        <div class="col-5">
                            <input class="col-sm-6 col-9" type="text" id="datepicker"> 
                        </div>
                    </div>
                    
                    <script>
                        $( function() {
                            var $datePicker = $( "#datepicker" );
                        
                            // If date picker input is empty, set to today's date
                            if (!$datePicker.val()) 
                            {
                                $datePicker.val($.datepicker.formatDate('yy-mm-dd', new Date()));
                            }
                        
                            $datePicker.datepicker({
                                dateFormat: "yy-mm-dd",
                                onSelect: function(dateText, inst) {
                                    // Redirect or fetch results for the selected date
                                    window.location.href = '{% url "count_hourly" %}?date=' + dateText;
                                }
                            });
                        });
                        </script>
                    <!-- End Date picking functionality -->
                    
                    {% for hour, locations in hourly_counts.items %}
                    <h3 class="mb-1 mt-4 sub-maroon-bg-count">{{hour}}</h3>
                        <div class="table-responsive">
                            <table class="table table-striped" cellspacing="0" width="100%">
                                <tr>
                                    <th>Facility / Location</th>
                                    <th>Count</th>
                                    <th>Count ID</th>
                                    <th>Timestamp</th>
                                    <th>Staff</th>
                                    
                                </tr>
                                {% for location, count in locations.items %}
                                    <tr>
                                        <td>{{ count.location }}</td>
                                        <td>{{ count.location_count }}</td>
                                        <td>{{ count.count_id }}</td>
                                        <td>{{ count.date_time_submission }}</td>
                                        <td>{{ count.staff_netid }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock content %}