<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

{% include 'urec_app/navbar.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Count History</title>
</head>
<body>
    <h3>View Count History</h3>
    <table class="table table-striped">
        <tr>
            <th>Count ID</th>
            <th>Date/Time</th>
            <th>Location in Facility</th>
            <th>Location Count</th>
            <th>Staff</th>
        </tr>
        {% for item in count_item %}
        <tr>
            <td>{{ item.count_id }}</td>
            <td>{{ item.date_time_submission }}</td>
            <td>{{ item.location_in_facility }}</td>
            <td>{{ item.location_count }}</td>
            <td>{{ item.staff_netid }}</td>
        </tr>
        {% endfor %}
    </table>
</body>