{% extends './base.html' %}
{% load static %}

{% block title %}
    Counts
{% endblock title%}

{% block content %}
    <!-- <a href="{% url 'count' %}">Return to Counts Home</a> -->

    <div class="container-fluid py-3 min-vh-100 d-flex bg-tb-view">
        <br/>
        <div class="col mx-auto overflow-hidden">
            <div class="card card-glassmorph border-0">
                <h2 class="card-header text-center maroon-bg">Update Count</h2>
                <div class="card-body p-5">
                    <form method="POST">
                        {% csrf_token %}
                    
                        {{ count_form.as_p }}

                        <!---<input type="button" class="btn btn-lg btn-block" id="addrow2" value="Add Contact (not implemented)" />-->
                        <button type="submit" class="btn btn-primary">Submit</button>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
