{% extends './base.html' %}
{% load static %}

{% block title %}
    Create ERP
{% endblock title%}

{% block content %}
    <!-- <a href="{% url 'erp' %}">Return to ERP Home</a> -->

  <div class="container-fluid py-3 min-vh-100 d-flex bg-tb-view">
    <br/>
    <div class="col mx-auto overflow-hidden">
        <div class="card card-glassmorph border-0 mb-3">
            <h2 class="card-header text-center maroon-bg">Create ERP</h2>
            <div class="card-body p-5">
              <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}

                  {{erp_obj.as_p}}
                  <br/>
                  {{erp_file.as_p}}
                
              <div class="m-1" style="color:red; font-weight: bold; font-size:large;">{{erp_obj.errors}}{{erp_file.errors}}</div>
              <br/><br/>
              
              <!-- {{ erp_obj.as_p }} {{ erp_file.as_p }} -->
                <button type="submit" class="form-btn-submit">Submit</button>
              </form>
            </div>
        </div>
    </div>
  </div>

{% endblock content %}