{% extends './base.html' %}
{% load static %}

{% block title %}
    Create Incident Ticket
{% endblock title%}

{% block content %}
    <!-- <a href="{% url 'incident' %}">Return to Incident Home</a> -->

    <div class=" container-fluid bg-tb-view">
        <br/>
        <div class="col mx-auto">
            <div class="card rounded-2 shadow border-0">
                <h2 class="text-center maroon-bg">Create Incident Report</h2>
                <div class="card-body p-5 bg-white rounded">
                    <form method="POST" id="form-container">
                        <div class="row">
                            {% csrf_token %}
                            {% for item in incident_ticket %}
                            <div class="col">
                                <div class="me-3 my-2" style="font-size: large; font-weight: bold;">
                                    {{ item.label }}:
                                </div>
                                {{ item }}
                            </div>
                        {% endfor %}
                        </div>
                        
                        <!-- <br><h3>Incident Type</h3>
                        {{ incident_type_formset.management_form }}
                        {% for form in incident_type_formset %}
                        <div class="incident-type-form">
                            {{ form.as_p }}
                        </div>
                        {% endfor %} -->

                        <div class="row">
                            <br><h3 class="mt-5 mb-3 sub-maroon-bg">Incident Type Type</h3>
                            {{ incident_type_formset.management_form }}
                            {% for form in incident_type_formset %}
                            <div class="accident-ticket-injury-form">
                                <div class="col-lg-10 col my-2">
                                        {{ form }}      
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <button class="btn btn-md btn-primary" id="addrow1">Add Incident</button>

                        
                        <div class="row">
                            <br><h3 class="mt-5 mb-3 sub-maroon-bg">Patient Contact Information</h3>
                        {% for item in patient_contact %}
                            <div class="col-lg-4 col">
                                <div class="me-3 my-2" style="font-size: large; font-weight: bold;">
                                    {{ item.label }}:
                                </div>
                                {{ item }}
                            </div>
                        {% endfor %}
                        </div>
                        
                        <div class="row">
                            <br><h3 class="mt-5 mb-3 sub-maroon-bg">Witness Contact Information</h3>

                            {% for item in witness_contact %}
                                <div class="col-lg-4 col">
                                    <div class="me-3 my-2" style="font-size: large; font-weight: bold;">
                                        {{ item.label }}:
                                    </div>
                                    {{ item }}
                                </div>
                            {% endfor %}
                        </div>
                        <input type="button" class="btn btn-lg btn-primary mt-2" id="addrow2" value="Add Contact (not implemented)" />
                        <br/><br/>
                        <button type="submit" class="simple-submit-btn mt-3">Submit</button>
                    </form>
                     <script>
                        let incidentTypeSet = document.querySelectorAll(".incident-type-form")
                        let container = document.querySelector("#form-container")
                        let addButton = document.querySelector("#addrow1")
                        let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

                        let formNum = incidentTypeSet.length-1
                        addButton.addEventListener('click', addForm)

                        function addForm(e){
                            e.preventDefault()

                            let newForm = incidentTypeSet[0].cloneNode(true)
                            let formRegex = RegExp(`form-(\\d){1}-`,'g')

                            formNum++
                            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
                            container.insertBefore(newForm, addButton)

                            totalForms.setAttribute('value', `${formNum+1}`)
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}