{% extends './base.html' %}
{% load static %}

{% block title %}
    Create Incident Ticket
{% endblock title%}

{% block content %}
    <!-- <a href="{% url 'incident' %}">Return to Incident Home</a> -->

    <div class=" container-fluid py-3 min-vh-100 d-flex bg-tb-view">
        <br/>
        <div class="col mx-auto overflow-hidden">
            <div class="card card-glassmorph border-0">
                <h2 class="card-header text-center maroon-bg">Create Incident Report</h2>
                <div class="card-body p-5">
                    <form method="POST" id="form-container">
                        <div class="row">
                            {% csrf_token %}
                            {% for item in incident_ticket %}
                            <div class="col">
                                <div class="me-3 my-2" style="font-size: large; font-weight: bold;">
                                    {{ item.label }}:
                                </div>
                                {{ item }}
                            </div>
                        {% endfor %}
                        </div>
                        
                        <!-- <br><h3>Incident Type</h3>
                        {{ incident_type_formset.management_form }}
                        {% for form in incident_type_formset %}
                        <div class="incident-type-form">
                            {{ form.as_p }}
                        </div>
                        {% endfor %} -->

                        <div class="row">
                            <br><h3 class="mt-5 mb-3 sub-maroon-bg">Incident Type Type</h3>
                            {{ incident_type_formset.management_form }}
                            <div class="accident-ticket-injury-form" id="incident-form">
                                <div class="col-lg-10 col my-3">
                                    <div class="me-3 my-2" style="font-size: large; font-weight: bold;">Indicent Nature:</div>
                                    <input type="text" name="form-0-incident_nature" maxlength="255" id="id_form-0-incident_nature" data-np-intersection-state="observed">
                                </div>
    
                                <div class="col-lg-10 col my-3">
                                    <div class="me-3 my-2" style="font-size: large; font-weight: bold;">Incident Description:</div>
                                    <textarea class="col-md-5 col-10" name="form-0-incident_description" cols="30" rows="6" maxlength="1023" id="id_form-0-incident_description" data-np-intersection-state="observed"></textarea>
                                </div>
    
                                <div class="col-lg-10 col my-3">
                                    <div class="me-3 my-2" style="font-size: large; font-weight: bold;">Action Taken:</div>
                                    <textarea class="col-md-5 col-10" name="form-0-action_taken" cols="30" rows="6" maxlength="1023" id="id_form-0-action_taken" data-np-intersection-state="observed"></textarea>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-md btn-primary" id="addincident">Add Incident</button>

                        <!-- Patient Info -->
                        <div class="row">
                            <br><h3 class="mt-5 mb-3 sub-maroon-bg">Patient Contact Information</h3>
                        {% for item in patient_contact %}
                            <div class="col-lg-4 col">
                                <div class="me-3 my-2" style="font-size: large; font-weight: bold;">
                                    {{ item.label }}:
                                </div>
                                {{ item }}
                            </div>
                        {% endfor %}
                        </div>
                        

                        <!-- Witness Info -->
                        <div class="row">
                            <br><h3 class="my-4 sub-maroon-bg">Witness Contact Information</h3>

                            {% for form in incident_witness_formset %}
                                <div class="row" id="witness-form">
                                    {% for item in form %}
                                        {% if item.is_hidden %}
                                        <div class="col-lg-4 col">
                                            <div class="me-3 my-2">
                                            </div>
                                        </div>
                                        {% else %}
                                            <div class="col-lg-4 col">
                                                <div class="me-3 my-2" style="font-size: large; font-weight: bold;">
                                                    {{ item.label }}:
                                                </div>
                                                {{ item }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                    <!-- <div class="col-lg-4 col" id="witness-form">
                                        <div class="me-3 my-2" style="font-size: large; font-weight: bold;">
                                            {{ form.label }}:
                                        </div>
                                        {{ form.as_p }}
                                    </div> -->
                            {% endfor %}
                        </div>
                        
                        <br/>
                        <input type="button" class="btn btn-lg btn-primary mt-2" id="addwitness" value="Add Witness Contact" />

                        <br/><br/>
                        <button type="submit" class="simple-submit-btn mt-3">Submit</button>

                    </form>
                    <script>
                        let container = document.querySelector("#form-container")
                        let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

                        let addIncidentButton = document.querySelector("#addincident")
                        let incidentTypeSet = document.querySelectorAll("#incident-form")
                        let incidentFormNum = incidentTypeSet.length-1
                        addIncidentButton.addEventListener('click', addIncidentForm)

                        function addIncidentForm(e){
                            e.preventDefault()

                            let newForm = incidentTypeSet[0].cloneNode(true)
                            let formRegex = RegExp(`form-(\\d){1}-`,'g')

                            incidentFormNum++
                            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${incidentFormNum}-`)
                            container.insertBefore(newForm, addIncidentButton)

                            totalForms.setAttribute('value', `${incidentFormNum+1}`)
                        }

                        let addWitnessButton = document.querySelector("#addwitness")
                        let witnessSet = document.querySelectorAll("#witness-form")
                        let witnessFormNum = witnessSet.length-1
                        addWitnessButton.addEventListener('click', addWitnessForm)

                        function addWitnessForm(e){
                            e.preventDefault()

                            let newForm = witnessSet[0].cloneNode(true)
                            let formRegex = RegExp(`form-(\\d){1}-`,'g')

                            witnessFormNum++
                            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${witnessFormNum}-`)
                            container.insertBefore(newForm, addWitnessButton)

                            totalForms.setAttribute('value', `${witnessFormNum+1}`)
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}