<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

{% include 'urec_app/navbar.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Incident Ticket</title>
</head>
<body>
    <div class="container">
        <form method="POST" id="form-container">
            <h2>Create Incident Ticket</h2>
            {% csrf_token %}
            {{ incident_ticket.as_p }}
            <br><h3>Incident Type</h3>
            {{ incident_type_formset.management_form }}
            {% for form in incident_type_formset %}
            <div class="incident-type-form">
                {{ form.as_p }}
            </div>
            {% endfor %}
            <button class="btn btn-lg btn-block" id="addrow1">Add Incident</button>
            <br><h3>Patient Contact Information</h3>
            {{ patient_contact.as_p }}
            <br><h3>Witness Contact Information</h3>
            {{ witness_contact.as_p }}
            <input type="button" class="btn btn-lg btn-block" id="addrow2" value="Add Contact (not implemented)" />
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <script>
            let incidentTypeSet = document.querySelectorAll(".incident-type-form")
            let container = document.querySelector("#form-container")
            let addButton = document.querySelector("#addrow1")
            let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

            let formNum = incidentTypeSet.length-1
            addButton.addEventListener('click', addForm)

            function addForm(e){
                e.preventDefault()

                let newForm = incidentTypeSet[0].cloneNode(true)
                let formRegex = RegExp(`form-(\\d){1}-`,'g')

                formNum++
                newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
                container.insertBefore(newForm, addButton)

                totalForms.setAttribute('value', `${formNum+1}`)
            }
        </script>
    </div>
</body>