<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

{% include 'urec_app/navbar.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Accident Ticket</title>
</head>
<body>
    <div class="container">
        <form method="POST" id="form-container">
            <h2>Create Accident Ticket</h2>
            {% csrf_token %}
            {{ accident_ticket.as_p }}
            <br><h3>Injury Type</h3>
            {{ accident_ticket_injury_formset.management_form }}
            {% for form in accident_ticket_injury_formset %}
            <div class="accident-ticket-injury-form">
                {{ form.as_p }}
            </div>
            {% endfor %}
            <button type="button" class="btn btn-lg btn-block" id="addrow1">Add Injury</button>

            <br><h3>Contact Information</h3>
            {{ contact_info.as_p }}
            <input type="button" class="btn btn-lg btn-block" id="addrow2" value="Add Contact (not implemented)" />
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <script>
            let accidentTicketInjury = document.querySelectorAll(".accident-ticket-injury-form")
            let container = document.querySelector("#form-container")
            let addButton = document.querySelector("#addrow1")
            let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

            let formNum = accidentTicketInjury.length-1
            addButton.addEventListener('click', addForm)

            function addForm(e){
                e.preventDefault()

                let newForm = accidentTicketInjury[0].cloneNode(true)
                let formRegex = RegExp(`form-(\\d){1}-`,'g')

                formNum++
                newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
                container.insertBefore(newForm, addButton)

                totalForms.setAttribute('value', `${formNum+1}`)
            }
        </script>
    </div>
</body>