{% extends './base.html' %}
{% load static %}

{% block title %}
    Create Accident Ticket
{% endblock title%}

{% block content %}
    <!-- <a href="{% url 'accident' %}">Return to Accident Home</a> -->
    <div class=" container-fluid bg-tb-view">
        <br/>
        <div class="col mx-auto">
            <div class="card rounded-2 shadow border-0">
                <h2 class="text-center maroon-bg">Create Accident Report</h2>
                <div class="card-body p-5 bg-white rounded">
                    <form method="POST" id="form-container">
                        <div class="row">
                            {% csrf_token %}
                            {% for item in accident_ticket%}
                                <div class="col">
                                    <div class="me-3 my-2" style="font-size: large; font-weight: bold;">
                                        {{ item.label }}:
                                    </div>
                                    {{ item }}
                                </div>
                            {% endfor %}
                                <!-- {{ accident_ticket.as_p }} -->
                        </div>
                        <div class="row">
                            <br><h3 class="mt-5 mb-3 sub-maroon-bg">Injury Type</h3>
                            {{ accident_ticket_injury_formset.management_form }}
                            {% for form in accident_ticket_injury_formset %}
                                <div class="accident-ticket-injury-form" id="injury-form">
                                    <div class="col-lg-10 col my-2">
                                            {{ form }}      
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <button type="button" class="btn btn-md btn-primary" id="addinjury">Add Injury</button>
                        
                        <div class="row">
                            <br><h3 class="my-4 sub-maroon-bg">Patient Contact Information</h3>
                        {% for item in patient %}
                            <div class="col-lg-4 col">
                                <div class="me-3 my-2" style="font-size: large; font-weight: bold;">
                                    {{ item.label }}:
                                </div>
                                {{ item }}
                            </div>
                        {% endfor %}
                        </div>
                        
                        <div class="row">
                            <br><h3 class="my-4 sub-maroon-bg">Witness Contact Information</h3>

                            {% for form in accident_ticket_witness_formset %}
                                <div class="col-lg-4 col" id="witness-form">
                                    <div class="me-3 my-2" style="font-size: large; font-weight: bold;">
                                        {{ form.label }}:
                                    </div>
                                    {{ form.as_p }}
                                </div>
                            {% endfor %}
                        </div>
                        
                        <input type="button" class="btn btn-lg btn-primary mt-2" id="addwitness" value="Add Witness Contact" />
                    
                        <br/><br/>
                        <button type="submit" class="simple-submit-btn mt-3">Submit</button>
                        
                    </form>
                    <script>
                        let container = document.querySelector("#form-container")
                        let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

                        let addInjuryButton = document.querySelector("#addinjury")
                        let accidentTicketInjury = document.querySelectorAll("#injury-form")
                        let injuryFormNum = accidentTicketInjury.length-1
                        addInjuryButton.addEventListener('click', addInjuryForm)

                        function addInjuryForm(e){
                            e.preventDefault()

                            let newForm = accidentTicketInjury[0].cloneNode(true)
                            let formRegex = RegExp(`form-(\\d){1}-`,'g')

                            injuryFormNum++
                            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${injuryFormNum}-`)
                            container.insertBefore(newForm, addInjuryButton)

                            totalForms.setAttribute('value', `${injuryFormNum+1}`)
                        }

                        let addWitnessButton = document.querySelector("#addwitness")
                        let witnessSet = document.querySelectorAll("#witness-form")
                        let witnessFormNum = witnessSet.length-1
                        addWitnessButton.addEventListener('click', addWitnessForm)

                        function addWitnessForm(e){
                            e.preventDefault()

                            let newForm = witnessSet[0].cloneNode(true)
                            let formRegex = RegExp(`form-(\\d){1}-`,'g')

                            witnessFormNum++
                            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${injuryFormNum}-`)
                            container.insertBefore(newForm, addWitnessButton)

                            totalForms.setAttribute('value', `${injuryFormNum+1}`)
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
        

{% endblock content %}