{% extends './base.html' %}
{% load static %}

{% block title %}
    Edit Account Page
{% endblock title%}

{% block content %}

<div class="container-fluid py-3 min-vh-100 d-flex bg-tb-view">
    <br/>
    <div class="col mx-auto overflow-hidden">
        <div class="card card-glassmorph border-0 mb-3">
            <h2 class="card-header text-center maroon-bg">Edit Account</h2>
            <div class="card-body p-5">
              <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="col-lg-10 col-11 my-2">
                    <div class="basic-text-label me-3 my-2">{{form.email.label}}:</div>
                  {{form.email}}
                </div>
              </div>

              <div class="row">
                <div class="col-lg-10 col-11 my-2">
                    <div class="basic-text-label me-3 my-2">{{form.username.label}}:</div>
                  {{form.username}}
                </div>
              </div>

              <div class="row">
                <div class="col-lg-10 col-11 my-2">
                    <div class="basic-text-label me-3 my-2">{{form.first_name.label}}:</div>
                  {{form.first_name}}
                </div>
              </div>

              <div class="row">
                <div class="col-lg-10 col-11 my-2">
                    <div class="basic-text-label me-3 my-2">{{form.last_name.label}}:</div>
                  {{form.last_name}}
                </div>
              </div>

              <div class="row">
                <div class="col-lg-10 col-11 my-2">
                    <div class="basic-text-label me-3 my-2" >{{form.phone_number.label}}:</div>
                  {{form.phone_number}}
                </div>
              </div>

              {% for field in form %}
                {% for error in field.errors %}
                    <p style="color: rgb(255, 0, 0); font-size: medium; font-weight: bold;"> {{error}} </p>
                {% endfor %}
              {% endfor %}

                <div class="mt-3">
                  <button href="{% url 'password_change' %}" class="form-btn">Change Password</button>
                </div>
              
              <!-- {{ erp_obj.as_p }} {{ erp_file.as_p }} -->
              <button type="submit" class="form-btn-submit">Submit</button>
              </form>
            </div>
        </div>
    </div>
  </div>

    <!-- <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit Changes</button>
        </form>
        <br>
    </div>
    <p><a href="{% url 'password_change' %}">Change Password</a></p> -->

{% endblock content %}