{% extends './base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock title%}

{% block content %}
<div class="">
    <div class="container-fluid h-100 d-flex justify-content-center home-bg">
    <div class="vh-100">
        <div class="row pt-5">
            <div class="col p-2 text-black text-center">
                {% if user.first_name %}
                    <h1>Welcome to the UREC Risk Management System, {{ user.first_name }}.</h1>
                {% else %}
                    <h1>Welcome to the UREC Risk Management System.</h1>
                {%endif%}
                <h4 class="p-2">Select an option below to get started.</h4>
                <a href="{% url 'injury_illness' %}"><button class="basic-nav-btn m-2">Injury/Illness</button></a>
                <a href="{% url 'incident' %}"><button class="basic-nav-btn m-2">Incident</button></a>
                <a href="{% url 'count' %}"><button class="basic-nav-btn m-2">Counts</button></a>
                <a href="{% url 'task' %}"><button class="basic-nav-btn m-2">Tasks</button></a>
                <a href="{% url 'erp' %}"><button class="basic-nav-btn m-2">ERP</button></a>

                
                
                <!---<a href="{% url 'form' %}"><button>Form</button></a>--->
                <!---<a href="{% url 'sop' %}"><button>SOPs</button></a>--->
                <!---<a href="{% url 'survey' %}"><button>Survey</button></a>--->
            </div>
        </div>
    </div>
    
</div>
</div>


{% endblock content %}
    
