<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

{% include 'urec_app/navbar.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Incident Page</title>
</head>
<body>
    <h1>Incident Page</h1>
    <a href="{% url 'create_incident_ticket' %}"><button>Create New Incident Report</button></a>
    <a href="{% url 'view_incident_tickets' %}"><button>View Incident Reports</button></a>
</body>