{% extends './base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
    My Tasks
{% endblock title%}

{% block content %}

<div class="container-fluid py-3 min-vh-100 d-flex bg-tb-view">
    <br/>
    <div class="col mx-auto overflow-hidden">
        <div class="card card-glassmorph border-0 mb-3">
            <h2 class="card-header text-center maroon-bg">My Tasks</h2>
          <div class="card-body p-sm-4 p-2">
            <div class="table-responsive">
                {% if uncompleted or completed %}
                <h2 class="mt-5 mb-3 sub-maroon-bg">Uncompleted Tasks</h2>
                    <table class="table table-striped">
                        <tr class="table-maroon-1">
                            <th>Task ID</th>
                            <th>Task Name</th>
                            <th>Task Description</th>
                            <th>Recurrence Pattern</th>
                            <th>Date/Time Due</th>
                            <th>Expand Task</th>
                            <th>Completion Text</th>
                            <th>Complete Task</th>
                        </tr>
                        {% for item in uncompleted %}
                        <tr class="table-grey-1">
                            <form action="{% url 'view_my_task' %}" method="POST">
                                {% csrf_token %}
                                <td>{{ item.task_id }}<input type="hidden" name="id" value="{{ item.task_id }}"></td>
                                <td>{{ item.task_name }}</td>
                                <td>{{ item.task_description }}</td>
                                <td>{{ item.recurrence_pattern|display_recurrence }}</td>
                                <td>{{ item.date_time_due }}</td>
                                <td><button class="form-btn" type="submit">Expand</button></td>
                            </form>
                            
                                <form action="{% url 'complete_task' taskid=item.task_id %}" method="post">
                                    {% csrf_token %}
                                    {% if item.text_input_required %}
                                        <td><input class="form-control" type="text" name="completion_text" placeholder="Completion Text"></td>
                                    {% else %}
                                         <td style="color: rgb(117, 120, 123);"><i>Not Applicable</i> </td>
                                    {% endif %}
                            
                            <td><input class="form-btn-submit-task" type="submit" value="Complete Task" /></td>
                        </form>
                        </tr>
                        {% endfor %}
                    </table>

                    <h2 class="mt-5 mb-3 sub-maroon-bg">Completed Tasks</h2>
                    <table class="table table-striped">
                        <tr class="table-maroon-1">
                            <th>Task ID</th>
                            <th>Task Name</th>
                            <th>Task Description</th>
                            <th>Recurrence Pattern</th>
                            <th>Completion Text</th>
                            <th>Date/Time Due</th>
                            <th>Date/Time Completion</th>
                            <th>Options</th>
                        </tr>
                        {% for item in completed %}
                        <tr class="table-grey-1">
                            <form action="{% url 'view_my_task' %}" method="POST">
                                {% csrf_token %}
                                <td>{{ item.task_id }}<input type="hidden" name="id" value="{{ item.task_id }}"></td>
                                <td>{{ item.task_name }}</td>
                                <td>{{ item.task_description }}</td>
                                <td>{{ item.recurrence_pattern }}</td>
                                {% if item.completion_text%}
                                    <td>{{ item.completion_text }}</td>
                                {% else %}
                                    <td style="color: rgb(117, 120, 123);"><i>Not Applicable</i></td>
                                {% endif %}
                                <td>{{ item.date_time_due }}</td>
                                <td>{{ item.date_time_completion }}</td>
                                <td><button class="form-btn" type="submit">Expand Task</button></td>
                            </form>
                        </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>You have no available tasks.</p>
                {% endif %}
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock content %}