<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

{% include 'urec_app/navbar.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Tasks</title>
</head>
<body>

<a href="{% url 'task' %}">Return to Task Home</a>
    <h1>My Tasks</h1>
    {% if uncompleted or completed %}
        <h3>Uncompleted Tasks</h3>
        <table class="table table-striped">
            <tr>
                <th>Task ID</th>
                <th>Task Name</th>
                <th>Task Description</th>
                <th>Assigned To</th>
                <th>Date/Time Due</th>
            </tr>
            {% for item in uncompleted %}
            <tr>
                <form action="{% url 'view_my_task' %}" method="POST">
                    {% csrf_token %}
                    <td>{{ item.task_id }}<input type="hidden" name="id" value="{{ item.task_id }}"></td>
                    <td>{{ item.task_name }}</td>
                    <td>{{ item.task_description }}</td>
                    <td>{{ item.staff_netid }}</td>
                    <td>{{ item.date_time_due }}</td>
                    <td><button type="submit">Expand Task</button></td>
                </form>

            <form action="{% url 'complete_task' taskid=item.task_id %}" method="post">
                {% csrf_token %}
                <td><input type="submit" value="Complete Task" /></td>
            </form>
            </tr>
            {% endfor %}
        </table>

        <h3>Completed Tasks</h3>
        <table class="table table-striped">
            <tr>
                <th>Task ID</th>
                <th>Task Name</th>
                <th>Task Description</th>
                <th>Assigned To</th>
                <th>Date/Time Due</th>
                <th>Task Complete?</th>
                <th>Date/Time Completion</th>
            </tr>
            {% for item in completed %}
            <tr>
                <form action="{% url 'view_my_task' %}" method="POST">
                    {% csrf_token %}
                    <td>{{ item.task_id }}<input type="hidden" name="id" value="{{ item.task_id }}"></td>
                    <td>{{ item.task_name }}</td>
                    <td>{{ item.task_description }}</td>
                    <td>{{ item.staff_netid }}</td>
                    <td>{{ item.date_time_due }}</td>
                    <td>{{ item.task_completion }}</td>
                    <td>{{ item.date_time_completion }}</td>
                    <td><button type="submit">Expand Task</button></td>
                </form>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>You have no available tasks.</p>
    {% endif %}
</body>
</html>