<nav class="navbar navbar-default fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">UREC</a>
    </div>
    <ul class="nav navbar-nav">
      <li {% if request.path == '/' %} class="active"{% endif %}><a class="nav-link" href="{% url 'home' %}">Home</a></li>

      <li {% if '/accident/' in request.path %} class="active"{% endif %}><a class="nav-link" href="{% url 'accident' %}">Accident</a></li>

      <li {% if '/incident/' in request.path %} class="active"{% endif %}><a class="nav-link" href="{% url 'incident' %}">Incident</a></li>

      <li {% if '/count/' in request.path %} class="active"{% endif %}><a class="nav-link" href="{% url 'count' %}">Counts</a></li>

      <li {% if '/task/' in request.path %} class="active"{% endif %}><a class="nav-link" href="{% url 'task' %}">Tasks</a></li>

      <li {% if '/erp/' in request.path %} class="active"{% endif %}><a class="nav-link" href="{% url 'erp' %}">ERP</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
        <li><a href="{% url 'edit' %}">My Account</a></li>

        {% if user.is_staff %}
          <li><a href="{% url 'admin:index' %}">Admin</a></li>
        {% endif %}

        <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}

        <li><a href="{% url 'login' %}">Login</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
