{% extends './base.html' %}
{% load static %}

{% block title %}
    {%for item in var%}
        Task {{var}} 
    {%endfor%}
{% endblock title%}

{% block content %}

    <!-- <a href="{% url 'all_tasks' %}">Return to All Tasks</a> -->
    <div class="container-fluid py-3 min-vh-100 d-flex bg-tb-view">
        <br/>
        <div class="col mx-auto">
            <div class="card card-glassmorph border-0 mb-3">
                <h2 class="card-header text-center maroon-bg">Task Details</h2>
              <div class="card-body p-5">
                <a class="btn btn-secondary mb-4" href="{% url 'all_tasks' %}">Return to All Tasks</a>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th>Task ID</th>
                            <th>Task Name</th>
                            <th>Task Description</th>
                            <th>Text Input Required</th>
                            <th>Completion Text</th>
                            <th>Task Completion Status</th>
                            <th>Date/Time Due</th>
                            <th>Date/Time Completion</th>
                            <th>Staff</th>
                        </tr>
                        {% for item in task_id %}
                        <tr>
                                <td>{{ item.task_id }}</td>
                                <td>{{ item.task_name }}</td>
                                <td>{{ item.task_description }}</td>
                                <td>{{ item.text_input_required }}</td>
                                <td>{{ item.completion_text }}</td>
                                <td>{{ item.task_completion }}</td>
                                <td>{{ item.date_time_due }}</td>
                                <td>{{ item.date_time_completion }}</td>
                                <td>{{ item.staff_netid }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
              </div>
            </div>
        </div>
    </div>

    

{% endblock content %}