<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>

{% include 'urec_app/navbar.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>View ERP Page</title>
  </head>
  <body>
    <a href="{% url 'erp' %}">Return to ERP Home</a>

    <h2>All ERPs</h2>
    <table class="table table-striped">
      <tr>
        <th>Title</th>
        <th>File Name</th>
        <th>Description</th>
        <th>Upload Time</th>
      </tr>
      {% for erp in Erps %}
      <tr>
          <form action="{% url 'download_erp' filename=erp.filename %}" method="post">
            {% csrf_token %}
            <td>{{ erp.title }}</td>
            <td>{{ erp.filename }}</td>
            <td>{{ erp.description }}</td>
            <td>{{ erp.uploaded_at }}</td>
            <td><input type="submit" value="Download" /></td>
          </form>
        {% if user.is_staff %}
        <td>
          <form action="{% url 'delete_erp' filename=erp.filename %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Delete" />
          </form>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>

    <!--
    <ul>
      {% load static %}
      <li>
        <a href="{% static 'erp/accidentreport.pdf' %}" target="_new"
          ><button>Accident Report</button></a
        >
      </li>
      <li>
        <a href="{% static 'erp/Example PDF 1.pdf' %}" target="_new"
          ><button>Example PDF</button></a
        >
      </li>
    </ul>
    -->
  </body>
</html>