{% extends './base.html' %}
{% load static %}

{% block title %}
    {{ report_name }}
{% endblock title%}
{% block content %}
<div class="container-fluid py-3 min-vh-100 d-flex bg-tb-view">
    <br/>
    <div class="col mx-auto overflow-hidden">
        <div class="card card-glassmorph border-0 mb-3" >
            <h2 class="card-header text-center maroon-bg" id="reportName">{{ report_name }}</h2>
          <div class="card-body px-4 py-4">
            <div class="table-responsive print-table" >
                <h2 id="DetailsTable">Report Details</h2>
                <table class="table  table-hover table-bordered">
                    <thead class="table-grey-2">
                        <tr>
                            {% for label in report_labels %}
                                <th>{{ label }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody class="table-clear-1">
                            <tr>
                                {% for field in report %}
                                    <td>{{ field}}</td>
                                {% endfor %}
                            </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-responsive print-table" id="tableReportInjuryIllnessTable">
                <h2>Report {{ special_name }}</h2>
                <table class="table  table-hover table-bordered" >
                    <thead class="table-grey-2">
                        <tr>
                            {% for label in special_labels %}
                                <th>{{ label }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody class="table-clear-1">
                        {% for special in specials %}
                            <tr>
                                {% for field in special %}
                                    <td>{{ field }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>


            <div class="table-responsive print-table" id="tablePatientDetails">
                <h2>Patient Details</h2>
                <table class="table  table-hover table-bordered" >
                    <thead class="table-grey-2">
                        <tr>
                            {% for label in patient_labels %}
                                <th>{{ label }}</th> 
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody class="table-clear-1">
                            <tr>
                                {% for field in patient %}
                                    <td>{{ field }}</td>
                                {% endfor %}
                            </tr>
                                
                           
                    </tbody>
                </table>
            </div>


            <div class="table-responsive print-table" id="tableReportWitnesses">
                <h2>Report Witnesses</h2>
                <table class="table  table-hover table-bordered" >
                    <thead class="table-grey-2">
                        <tr>
                            {% for label in witness_labels %}
                                <th>{{ label }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody class="table-clear-1">
                        {% for witness in witnesses %}
                            <tr>
                                {% for field in witness %}
                                    <td>{{ field }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>

            <button class="form-btn-submit" onclick="downloadTablesAsPDF()">Download PDF</button>

            <script>
                window.jsPDF = window.jspdf.jsPDF;
                function downloadTablesAsPDF() {
                    const doc = new jsPDF('p', 'pt', 'letter');

                    const tables = document.querySelectorAll('table');
                    const reportName = document.getElementById('reportName').innerHTML;
                    const detailReport = document.getElementById('DetailsTable').innerHTML;

                    tables.forEach((table, index) => {
                        const tableId ="MSU - UREC - " + reportName;
                        doc.text( tableId,10, 20,);
                        doc.autoTable({
                            html: table,
                            margin: { right:.2, left: .2 },
                            styles: {
                                fontSize: 10,
                                fillColor: [161, 161, 161, 0.45],
                                cellPadding: 4,
                            },
                        });
                    });

                    doc.save(`MSU - ${reportName}.pdf`);
                }
                
            </script>
            

          </div>
        </div>        
    </div>
</div>

{% endblock %}