{% extends './base.html' %}
{% load static %}

{% block title %}
    View Accident Tickets
{% endblock title%}

{% block content %}
<div class="container-fluid py-3 min-vh-100 d-flex bg-tb-view">
    <br/>
    <div class="col mx-auto overflow-hidden">
        <div class="card card-glassmorph border-0 mb-3">
            <h2 class="text-center maroon-bg">Accident Reports</h2>
          <div class="card-body p-5">
            <div class="">
                <table id="accident_ticket_info" class="display" width="100%">
                    <thead>
                        <tr>
                            <th>Ticket ID</th>
                            <th>Date/Time</th>
                            <th>Facility</th>
                            <th>Location in Facility</th>
                            <th>Activity during Accident</th>
                            <th>Staff</th>
                            <th> View </th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in accident_ticket %}
                        <tr>
                            <form action="{% url 'edit_accident_id' %}" method="POST">
                                {% csrf_token %}
                                <td>{{ item.ticket_id }}<input type="hidden" name="id" value="{{ item.ticket_id }}"></td>
                                <td>{{ item.date_time_submission }}</td>
                                <td>{{ item.urec_facility }}</td>
                                <td>{{ item.location_in_facility }}</td>
                                <td>{{ item.activity_causing_injury }}</td>
                                <td>{{ item.staff_netid }}</td>
                                <td><button type="submit" class="btn btn-secondary">Expand Report</button></td>
                            </form>
                                <td><form action="{% url 'delete_accident' accidentid=item.ticket_id %}" method="post">
                                        {% csrf_token %}
                                        <input class="btn btn-danger" type="submit" value="Delete" />
                                    </form></td>
                            
                        </tr>
                    </tbody>
                    {% endfor %}

                <!-- </table>
                <h2 class="mt-5 mb-3 sub-maroon-bg">Injury</h2>
                <table id="accident_ticket_injury" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Ticket ID</th>
                            <th>Injury Type</th>
                            <th>Injury Description</th>
                            <th>Care Provided</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in injury_type %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.injury_type }}</td>
                            <td>{{ item.injury_description }}</td>
                            <td>{{ item.care_provided }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    
                </table>
                <h2 class="mt-5 mb-3 sub-maroon-bg">Contact Info</h2>
                <table id="accident_ticket_contact" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Ticket ID</th>
                            <th>First Name</th>
                            <th>Middle Name</th>
                            <th>Last Name</th>
                            <th>Email Address</th>
                            <th>Personal Phone Number</th>
                            <th>Home Phone Number</th>
                            <th>Street Address</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Zip</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in contact_info %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.first_name }}</td>
                            <td>{{ item.middle_name }}</td>
                            <td>{{ item.last_name }}</td>
                            <td>{{ item.email_address }}</td>
                            <td>{{ item.personal_phone_number }}</td>
                            <td>{{ item.home_phone_number }}</td>
                            <td>{{ item.street_address }}</td>
                            <td>{{ item.city }}</td>
                            <td>{{ item.state }}</td>
                            <td>{{ item.zip }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table> -->
    
            </div>
          </div>
        </div>
    </div>
</div>
    

{% endblock content %}