{% extends './base.html' %}
{% load static %}
{% load model_field %}

{% block title %}
    {{ report_name }}
{% endblock title%}

{% block content %}
<div class="container-fluid py-3 min-vh-100 d-flex bg-tb-view">
    <br/>
    <div class="col mx-auto overflow-hidden">
        <div class="card card-glassmorph border-0 mb-3" >
            <h2 class="card-header text-center maroon-bg" id="reportName">{{ report }}</h2>
          <div class="card-body px-4 py-4">
            <div class="table-responsive" >
                <h3 id="reportDetails">Report Details</h3>
                <table class="table table-grey-2 table-hover table-bordered" id="tableReportDetailsTable">
                    
                        <tr>
                            <th>{% model_field_verbose_name from report.report_id %}</th>
                                <td >{{ report.report_id }}</td>
                        </tr>
                        <tr>
                            <th>{% model_field_verbose_name from report.date_time_submission %}</th>
                                <td>{{ report.date_time_submission }}</td>
                        </tr>
                        <tr>
                            <th>{% model_field_verbose_name from report.location %}</th>
                                <td>{{ report.location }}</td>
                        </tr>
                        <tr>
                            <th>{% model_field_verbose_name from report.severity %}</th>
                                <td>{{ report.severity }}</td> 
                        </tr>
                        <tr>
                            <th>{% model_field_verbose_name from report.ems_called %}</th>
                                <td>{{ report.ems_called }}</td>
                        </tr>
                        <tr>
                             <th>{% model_field_verbose_name from report.police_called %}</th>
                                <td>{{ report.police_called }}</td>
                        </tr>
                        <tr>
                            <th>{% model_field_verbose_name from report.staff_netid %}</th>
                                <td>{{ report.staff_netid }}</td>
                        </tr>
                        <tr>
                            {% block unique_label %} {% endblock unique_label %}
                                {% block unique %} {% endblock unique%}
                        </tr>
                </table>
            </div>

            {% block specials %}{% endblock specials %}


            <div class="table-responsive print-table" >
                <h3 id="patientDetails">Patient Details</h3>
                <table class="table table-grey-2 table-hover table-bordered" id="tablePatientDetails">
                        <tr>
                            <th>{% model_field_verbose_name from patient.contact_id %}</th>
                            <td>{{ patient.contact_id }}</td>
                        </tr>
                        <tr>
                            <th>{% model_field_verbose_name from patient.first_name %}</th>
                            <td>{{ patient.first_name }}</td>
                        </tr>
                        <tr>
                            <th>{% model_field_verbose_name from patient.middle_name %}</th>
                            <td>{{ patient.middle_name }}</td>
                        </tr>
                        <tr>
                            <th>{% model_field_verbose_name from patient.last_name %}</th>
                            <td>{{ patient.last_name }}</td>
                        </tr>
                        <tr>
                            <th>{% model_field_verbose_name from patient.email_address %}</th>
                            <td>{{ patient.email_address }}</td>
                        </tr>
                        <tr>
                            <th>{% model_field_verbose_name from patient.personal_phone_number %}</th>
                            <td>{{ patient.personal_phone_number }}</td>
                        </tr>
                        <tr>
                            <th>{% model_field_verbose_name from patient.home_phone_number %}</th>
                            <td>{{ patient.home_phone_number }}</td>
                        </tr>
                        <tr>
                            <th>{% model_field_verbose_name from patient.street_address %}</th>
                            <td>{{ patient.street_address }}</td>
                        </tr>
                        <tr>
                            <th>{% model_field_verbose_name from patient.city %}</th>
                            <td>{{ patient.city }}</td>
                        </tr>
                        <tr>
                            <th>{% model_field_verbose_name from patient.state %}</th>
                            <td>{{ patient.state }}</td>
                        </tr>
                        <tr>
                            <th>{% model_field_verbose_name from patient.zip %}</th>
                            <td>{{ patient.zip }}</td>
                        </tr>
                        <tr>
                            <th>{% model_field_verbose_name from patient.minor_status %}</th>
                            <td>{{ patient.minor_status }}</td>
                        </tr>
                        <tr>
                            <th>{% model_field_verbose_name from patient.relation %}</th>
                            <td>{{ patient.relation }}</td>
                        </tr>
                        
                </table>
            </div>


            <div class="table-responsive print-table" >
                <h3 id="reportWitness">Report Witnesses</h3>
                <table class="table table-grey-2 table-hover table-bordered" id="tableReportWitnesses">
                    
                        {% for witness in witnesses %}
                        <tr>
                            <th>{% model_field_verbose_name from witness_model.contact_id %}</th>
                            <td>{{ witness.contact_id }}</td>
                        </tr>
                        <tr>
                            <th>{% model_field_verbose_name from witness_model.first_name %}</th>
                            <td>{{ witness.first_name }}</td>

                        </tr>
                        <tr>
                            <th>{% model_field_verbose_name from witness_model.middle_name %}</th>
                            <td>{{ witness.middle_name }}</td>
                        </tr>
                        <tr>
                            <th>{% model_field_verbose_name from witness_model.last_name %}</th>
                            <td>{{ witness.last_name }}</td>
           
                        </tr>
                        <tr>
                            <th>{% model_field_verbose_name from witness_model.email_address %}</th>
                            <td>{{ witness.email_address }}</td>
       
                        </tr>
                        <tr>
                            <th>{% model_field_verbose_name from witness_model.personal_phone_number %}</th>
                            <td>{{ witness.personal_phone_number }}</td>
                        </tr>
                        <tr>
                            <th>{% model_field_verbose_name from witness_model.home_phone_number %}</th>
                            <td>{{ witness.home_phone_number }}</td>
   
                        </tr>
                        <tr>
                            <th>{% model_field_verbose_name from witness_model.street_address %}</th>
                            <td>{{ witness.street_address }}</td>
      
                        </tr>
                        <tr>
                            <th>{% model_field_verbose_name from witness_model.city %}</th>
                            <td>{{ witness.city }}</td>
                
                        </tr>
                        <tr>
                            <th>{% model_field_verbose_name from witness_model.state %}</th>
                            <td>{{ witness.state }}</td>
               
                        </tr>
                        <tr>
                            <th>{% model_field_verbose_name from witness_model.zip %}</th>
                            <td>{{ witness.zip }}</td>
                 
                        </tr>
                        <tr>
                            <th>{% model_field_verbose_name from witness_model.minor_status %}</th>
                            <td>{{ witness.minor_status }}</td>
        
                        </tr>
                        <tr>
                            <th>{% model_field_verbose_name from witness_model.relation %}</th>
                            <td>{{ witness.relation }}</td>
            
                        </tr>
                    {% endfor %}
                </table>
                
            </div>

            <button class="form-btn-submit" onclick="downloadTablesAsPDF()">Download PDF</button>

            <script>
                window.jsPDF = window.jspdf.jsPDF;
                function downloadTablesAsPDF() {
                    const doc = new jsPDF('p', 'pt', 'letter');
                    const defaultColor = '#000000';
                    const mainTitleColor = '#ffffff';
                    const lightGreyColor = '#75787b';


                    const reportName = document.getElementById('reportName').innerHTML;
                    const reportDetails = document.getElementById('reportDetails').innerHTML;
                    const reportType = document.getElementById('reportType').innerHTML;
                    const patientDetails = document.getElementById('patientDetails').innerHTML;
                    const reportWitness = document.getElementById('reportWitness').innerHTML;

                    doc.setFillColor(94,23,38);
                    doc.rect(0,0,700,25,'F');
                    doc.setTextColor(mainTitleColor);
                    const tableId ="MSU - UREC - " + reportName;
                    doc.text( tableId,10, 20,);

                    doc.setFillColor(lightGreyColor);
                    doc.rect(0,45,150,20,'F');
                    doc.text(reportDetails, 10,60)
                    doc.autoTable({
                        html: "#tableReportDetailsTable",
                        margin: { right:5, left: 5 },
                        styles: {
                            fontSize: 10,
                            cellPadding: 4,
                        },
                        startY: 70,
                    });

                    doc.setFillColor(lightGreyColor);
                    doc.rect(0, doc.previousAutoTable.finalY + 20 ,150,20,'F');
                    doc.text(reportType, 10, doc.previousAutoTable.finalY + 35)
                    doc.autoTable({
                        html: "#tableReportInjuryIllnessTable",
                        margin: { right:5, left: 5 },
                        styles: {
                            fontSize: 10,
                           
                            cellPadding: 4,
                        },
                        startY: doc.previousAutoTable.finalY + 50,
                    });

                    doc.setFillColor(lightGreyColor);
                    doc.rect(0, doc.previousAutoTable.finalY + 25 ,150,20,'F');
                    doc.text(patientDetails, 10, doc.previousAutoTable.finalY + 40)
                    doc.autoTable({
                        html: "#tablePatientDetails",
                        margin: { right:5, left: 5 },
                        styles: {
                            fontSize: 10,
                            cellPadding: 4,
                        },
                        startY: doc.previousAutoTable.finalY + 50,
                    });

                    doc.addPage();
                    doc.setFillColor(lightGreyColor);
                    doc.rect(0, 15, 150, 20,'F');
                    doc.text(reportWitness, 10, 30)
                    doc.autoTable({
                        html: "#tableReportWitnesses",
                        margin: { right:5, left: 5 },
                        styles: {
                            fontSize: 10,
                            cellPadding: 4,
                        },
                        startY: 40,
                    });


                    doc.save(`MSU - ${reportName}.pdf`);
                }
                
            </script>
            

          </div>
        </div>        
    </div>
</div>

{% endblock content %}