{% extends './view_report.html' %}
{% load static %}
{% load model_field %}

{% block unique_label %}<th>{% model_field_verbose_name from report.activity_causing_injury %}</th>{% endblock unique_label %}

{% block unique %}<td>{{ report.activity_causing_injury }}</td>{% endblock unique%}

{% block specials %}

                <div class="table-responsive print-table" >
                <h3 id="reportType">Report Injuries</h3>
                    <table class="table table-grey-2 table-hover table-bordered" id="tableReportInjuryIllnessTable">
                        {% for special in specials %}
                            <tr>
                                <th>{% model_field_verbose_name from special_model.injury_id %}</th>
                                <td>{{ special.injury_id }}</td>
                            </tr>
                            <tr>
                                <th>{% model_field_verbose_name from special_model.injury_type %}</th>
                                <td>{{ special.injury_type }}</td>
                            </tr>
                            <tr>
                                <th>{% model_field_verbose_name from special_model.injury_description %}</th>
                                <td>{{ special.injury_description }}</td>
                            </tr>
                            <tr>
                                <th>{% model_field_verbose_name from special_model.care_provided %}</th>
                                <td>{{ special.care_provided }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

            
            

{% endblock specials %}