{% extends './view_report.html' %}
{% load static %}
{% load model_field %}

{% block unique_label %}<th>{% model_field_verbose_name from report.activity_during_incident %}</th>{% endblock unique_label %}

{% block unique %}<td>{{ report.activity_during_incident }}</td>{% endblock unique%}

{% block specials %}

            <div class="table-responsive print-table" id="tableReportInjuryIllnessTable">
                <h3>Report Incidents</h3>
                <table class="table table-striped table-hover table-bordered" >
                    <thead class="table-grey-2">
                        <tr>
                            <th>{% model_field_verbose_name from special_model.incident_id %}</th>
                            <th>{% model_field_verbose_name from special_model.incident_nature %}</th>
                            <th>{% model_field_verbose_name from special_model.incident_description %}</th>
                            <th>{% model_field_verbose_name from special_model.action_taken %}</th>
                        </tr>
                    </thead>
                    <tbody class="table-clear-1">
                        {% for special in specials %}
                            <tr>
                                <td>{{ special.incident_id }}</td>
                                <td>{{ special.incident_nature }}</td>
                                <td>{{ special.incident_description }}</td>
                                <td>{{ special.action_taken }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

{% endblock specials %}