{% extends './base.html' %}
{% load static %}

{% block title %}
    {{ report_name }}
{% endblock title%}
{% block content %}
<div class="container-fluid py-3 min-vh-100 d-flex bg-tb-view">
    <br/>
    <div class="col mx-auto overflow-hidden">
        <div class="card card-glassmorph border-0 mb-3" >
            <h2 class="card-header text-center maroon-bg" id="reportName">{{ report_name }}</h2>
          <div class="card-body px-4 py-4">
            <div class="table-responsive print-table" id="reportDetailsTable">
                <h3>Report Details</h3>
                <table class="table table-striped table-hover table-bordered">
                    <thead class="table-grey-2">
                        <tr>
                            {% for label in report_labels %}
                                <th>{{ label }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody class="table-clear-1">
                            <tr>
                                {% for field in report %}
                                    <td>{{ field }}</td>
                                {% endfor %}
                            </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-responsive print-table" id="reportInjuryIllnessTable">
                <h3>Report {{ special_name }}</h3>
                <table class="table table-striped table-hover table-bordered" >
                    <thead class="table-grey-2">
                        <tr>
                            {% for label in special_labels %}
                                <th>{{ label }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody class="table-clear-1">
                        {% for special in specials %}
                            <tr>
                                {% for field in special %}
                                    <td>{{ field }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>


            <div class="table-responsive print-table" id="patientDetails">
                <h3>Patient Details</h3>
                <table class="table table-striped table-hover table-bordered" >
                    <thead class="table-grey-2">
                        <tr>
                            {% for label in patient_labels %}
                                <th>{{ label }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody class="table-clear-1">
                            <tr>
                                {% for field in patient %}
                                    <td>{{ field }}</td>
                                {% endfor %}
                            </tr>
                    </tbody>
                </table>
            </div>


            <div class="table-responsive print-table" id="reportWitnesses">
                <h3>Report Witnesses</h3>
                <table class="table table-striped table-hover table-bordered" >
                    <thead class="table-grey-2">
                        <tr>
                            {% for label in witness_labels %}
                                <th>{{ label }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody class="table-clear-1">
                        {% for witness in witnesses %}
                            <tr>
                                {% for field in witness %}
                                    <td>{{ field }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>

            <button class="form-btn-submit" id="generate-pdf">Download PDF</button>

            <script>
                document.getElementById('generate-pdf').addEventListener('click', function(){
                    const fileName = document.getElementById('reportName').innerHTML;
                    const element0 = document.getElementById('reportName').outerHTML;            
                    const element1 = document.getElementById('reportDetailsTable').outerHTML;
                    const element2 = document.getElementById('reportInjuryIllnessTable').outerHTML;
                    const element3 = document.getElementById('patientDetails').outerHTML;
                    const element4 = document.getElementById('reportWitnesses').outerHTML;
                    const combinedHtml = `
                        <html>
                        <head>
                            <title>Tables</title>
                        </head>
                        <style>
                            .print-table {
                                page-break-inside: avoid;
                            }
                        </style>
                        <body>
                            ${element0}
                            ${element1}
                            ${element2}
                            ${element3}
                            ${element4}
                        </body>
                        </html>
                    `;
                    const opt = {
                        margin:       [0,.05,0,.05],
                        filename:     `MSU-Report-${fileName}.pdf`,
                        image:        { type: 'jpeg', quality: 1 },
                        html2canvas:  { scale: 2 },
                        jsPDF:        { unit: 'in', format: 'letter', orientation: 'landscape' }
                    };

                    html2pdf().from(combinedHtml).set(opt).save();
                });
                
            </script>
            

          </div>
        </div>        
    </div>
</div>

{% endblock %}