{% extends './base.html' %}
{% load static %}
{% load model_field %}

{% block title %}
    View {{ report_name }} Reports
{% endblock title%}

{% block content %}
<div class="container-fluid py-3 min-vh-100 d-flex bg-tb-view">
    <br/>
    <div class="col mx-auto overflow-hidden">
        <div class="card card-glassmorph border-0 mb-3">
            <h2 class="card-header text-center maroon-bg">View {{ report_name }} Reports</h2>
          <div class="card-body p-5">
            <div class="table-responsive">
                <table class="table table-striped table-hover" >
                    <thead class="table-maroon-1">
                        <tr>
                            <th>{% model_field_verbose_name from report_model.report_id %}</th>
                            <th>{% model_field_verbose_name from report_model.date_time_submission %}</th>
                            <th>{% model_field_verbose_name from report_model.location %}</th>
                            <th>{% model_field_verbose_name from report_model.severity %}</th>
                            <th>{% model_field_verbose_name from report_model.ems_called %}</th>
                            <th>{% model_field_verbose_name from report_model.police_called %}</th>
                            <th>{% model_field_verbose_name from report_model.staff_netid %}</th>
                            {% if report_name == "Injury/Illness" %}
                                <th>{% model_field_verbose_name from report_model.activity_causing_injury %}</th>
                            {% endif %}
                            {% if report_name == "Incident" %}
                                <th>{% model_field_verbose_name from report_model.activity_during_incident %}</th>
                            {% endif %}
                            <th>View Report Details</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for report in reports %}
                            <tr class="table-grey-1">
                                <td>{{ report.report_id }}</td>
                                <td>{{ report.date_time_submission }}</td>
                                <td>{{ report.location }}</td>
                                <td>{{ report.severity }}</td>
                                <td>{{ report.ems_called }}</td>
                                <td>{{ report.police_called }}</td>
                                <td>{{ report.staff_netid }}</td>
                                {% if report_name == "Injury/Illness" %}
                                    <td>{{ report.activity_causing_injury }}</td>
                                {% endif %}
                                {% if report_name == "Incident" %}
                                    <td>{{ report.activity_during_incident }}</td>
                                {% endif %}
                                <td><a class="view-report-btn" href="{% url view_url report_id=report.report_id %}">View Report Details</a></td>
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}