{% extends './base.html' %}
{% load static %}

{% block title %}
    View {{ report_name }} Reports
{% endblock title%}

{% block content %}
<div class="container-fluid py-3 min-vh-100 d-flex bg-tb-view">
    <br/>
    <div class="col mx-auto overflow-hidden">
        <div class="card card-glassmorph border-0 mb-3">
            <h2 class="card-header text-center maroon-bg">View {{ report_name }} Reports</h2>
          <div class="card-body p-5">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered" >
                    <thead class="table-grey-1">
                        <tr>
                            {% for field_label in field_labels %}
                                <th>{{ field_label }}</th>
                            {% endfor %}
                            <th>View Report Details</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for report in reports %}
                            <tr>
                                {% for value in report.values %}
                                    <td>{{ value }}</td>
                                {% endfor %}
                                <td><a href="{% url view_url report_id=report.id %}">View Report Details</a></td>
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}